/*
* ################################################
*
*	Custom CSS based on bootstrap
*
*	sub-westenholz.de
*
* ################################################
*/


/*
*	+++++++++++++++++++++++
*	----- BODY -----
*	+++++++++++++++++++++++
*/


body {
	font-family: 'Open Sans', sans-serif;
	font-size: 140%;
}

@media (max-width: 767px) {
body {
	font-size:125%;
	}
}



/*
*	+++++++++++++++++++++++
*	----- HEADER -----
*	+++++++++++++++++++++++
*/

.header-height {
	min-height: 400px;
}


.header-size {
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

/*
*	+++++++++++++++++++++++
*	----- PADDING -----
*	+++++++++++++++++++++++
*/
.padding-0 {padding:0;}
.padding-15 {padding:15px;}
.padding-30 {padding:30px;}

.padding-lr-0 {
	padding-left: 0;
	padding-right: 0;
}

.padding-tb-0 {
	padding-top: 0;
	padding-bottom: 0;
}

.padding-lr-15 {
	padding-left: 15px;
	padding-right: 15px;
}

.padding-lr-30 {
	padding-left: 30px;
	padding-right: 30px;
}

.padding-tb-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.padding-tb-30 {
	padding-top: 30px;
	padding-bottom: 30px;
}


/*
*	+++++++++++++++++++++++
*	----- MARGIN -----
*	+++++++++++++++++++++++
*/

.margin-0 {margin: 0;}
.margin-15 {margin: 15px;}
.margin-tb-0 {margin-top: 0px;margin-bottom: 0px;}
.margin-tb-15 {margin-top: 15px;margin-bottom: 15px;}

/*
*	+++++++++++++++++++++++
*	----- FARBEN -----
*	+++++++++++++++++++++++
*/

.color-base {background-color: #fff;}

.color-base-text {color: #fff;}

.color-dark-background {background-color: #4E667D;}

.color-light-background {background-color: #7194B3;}

.color-light-background-box {background-color: #f1f4f7;}

.color-light-background-text {color: #536c84;}

.color-pastel-dark-background {background-color: #D6EEFC;}

.color-pastel-light-background {background-color: #e6f5fd;}

.color-bright {color:rgb(28,117,128);}


 /*
*	+++++++++++++++++++++++
*	----- HEADLINES -----
*	+++++++++++++++++++++++
*/

.headline { text-transform: uppercase;font-size:180%;}

.headline-h1 {
	border: 1px solid #7194B3;
	padding: 0.5rem 0rem;
	text-align: center;
	color:#7194B3;
}

.headline-h2 {padding: 0.5rem 1rem;text-align: center;}

.dashed-line-bottom-dark {border-bottom:1px dashed #7194B3;}

.dashed-line-bottom-light {border-bottom:1px dashed #fff;}

.headline-kontakt {color: #4E667D;text-align: center}

.headline-dashed {border-bottom: 1px dashed #7194B3;padding-top:40px;margin:0 0 -40px 0;	}


 /*
*	+++++++++++++++++++++++
*	----- NAVIGATION -----
*	+++++++++++++++++++++++
*/

.navbar-default {
	background-color: #4E667D;
	font-size:125%;
	border:none;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #fff;
}

.navbar-default .navbar-text {
	color: #fff;

}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #fff;
	background-color: #7194B3;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #fff;
	background-color:#7194B3;

}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #fff;
	background-color: #7194B3;
}

.navbar-default .navbar-toggle {
	border-color: #4E667D;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #4E667D;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #fff;
}

.navbar-default .navbar-link {
	color: #fff;
}

.navbar-default .navbar-link:hover {
	color: #fff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #fff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #fff;
		background-color: #7194B3;
		border-bottom:5px solid #7194B3;
	}
}


.subnavi ul {
	list-style: none;
}

.subnavi li {
	display: inline;
}

.subnavi a {
	color:rgb(28,117,128);
	font-size: 125%;
	padding: 0 0.5em;
}

.subnavi a:hover {
	border-bottom: rgb(28,117,128);
}


.nav-tabs  {
	border-bottom: none;
}

.nav-tabs>li {
	margin-bottom: -2px;
}

@media (max-width: 767px) {
.nav-tabs>li {
	clear:both;
	}
}

.nav-tabs>li>a {
	border-radius: 0;
}

.nav-tabs>li>a {
	border: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	cursor: default;
	background-color:#e6f5fd;
	border:none;
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: #e6f5fd;
}


 /*
*	+++++++++++++++++++++++
*	----- LINKS -----
*	+++++++++++++++++++++++
*/

a {
	cursor:pointer;
	color:#7194B3;
}

.readon {
	text-transform: lowercase;
	color: #7194B3;
	font-size:115%;
}

.readon:before {content: ">> ";}

.footer-link {color: #fff;}

.footer-link:hover{text-decoration: none;color: #4E667D;}


 /*
*	+++++++++++++++++++++++
*	----- TEXT -----
*	+++++++++++++++++++++++
*/

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	font-size
*	%%%%%%%%%%%%%%%%%%%%
*/
.fs-100{font-size: 100%;}
.fs-115{font-size: 115%;}
.fs-125{font-size: 125%;}
.fs-150{font-size: 150%;}
.fs-175{font-size: 175%;}
.fs-200{font-size: 200%;}

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	line-height
*	%%%%%%%%%%%%%%%%%%%%
*/
.lh-100 {line-height: 1em;}
.lh-125 {line-height: 1.25em;}
.lh-150 {line-height: 1.5em;}
.lh-175 {line-height: 1.75em;}
.lh-200 {line-height: 2em;}

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	letter-spacing
*	%%%%%%%%%%%%%%%%%%%%
*/
.ls-1{letter-spacing:0.1em;}
.ls-2{letter-spacing:0.2em;}
.ls-3{letter-spacing:0.3em;}
.ls-4{letter-spacing:0.4em;}
.ls-5{letter-spacing:0.5em;}
.ls-6{letter-spacing:0.5em;}
.ls-7{letter-spacing:0.7em;}
.ls-8{letter-spacing:0.8em;}
.ls-9{letter-spacing:0.9em;}
.ls-10{letter-spacing:1em;}

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	alignement
*	%%%%%%%%%%%%%%%%%%%%
*/
.ta-left {text-align: left;}
.ta-center {text-align: center;}
.ta-right {text-align: right;}
.ta-block {text-align: justify;}





 /*
*	+++++++++++++++++++++++
*	----- WIDTH/HEIGHT -----
*	+++++++++++++++++++++++
*/

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	min-width
*	%%%%%%%%%%%%%%%%%%%%
*/
.min-w25{min-width: 25%;}
.min-w50{min-width: 50%;}
.min-w75{min-width: 75%;}
.min-w100{min-width: 100%;}

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	width
*	%%%%%%%%%%%%%%%%%%%%
*/
.w25{width:25%;}
.w50{width:50%;}
.w75{width:75%;}
.w100{width:100%;}

/* full grid wrapper */
.max-w1170 {max-width:1170px;}

.max-w25 {max-width:25%;}
.max-w50 {max-width:50%;}
.max-w75 {max-width:75%;}
.max-w100 {max-width:100%;}

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	height
*	%%%%%%%%%%%%%%%%%%%%
*/
.h5{min-height:5em;}
.h10{min-height:10em;}
.h15{min-height:15em;}
.h20{min-height:20em;}
.h25{min-height:25em;}
.h30{min-height:30em;}

.hpx50{height:50px;}
.hpx100{height:100px;}
.hpx150{height:150px;}


 /*
*	+++++++++++++++++++++++
*	----- POSITION -----
*	+++++++++++++++++++++++
*/

.pos-left{float:left;}
.pos-center{margin:0 auto;}
.pos-right{float:right;}
.pos-absolute{position: absolute;}
.pos-relative{position: relative;}

.z-0{z-index:0;}
.z-50{z-index:50;}
.z-100{z-index:100;}


 /*
*	+++++++++++++++++++++++
*	----- CORNER -----
*	+++++++++++++++++++++++
*/

.border-round {border-radius: 4px;}

.border-flat {border-radius: 0px;}

 /*
*	+++++++++++++++++++++++
*	----- CALENDER  -----
*	+++++++++++++++++++++++
*/

#calendar_sporthalle {
	width: 100%;
	margin: 0 auto;
}

#calendar_forum {
	width: 100%;
	margin: 0 auto;
}

.gym_cal {
	background-color: #4E667D;
}

.musik_cal {
	background-color: #7194B3;
}

 /*
*	+++++++++++++++++++++++
*	----- TOP BUTTON  -----
*	+++++++++++++++++++++++
*/

.top_btn {
	display:none;
	position:fixed;
	right:5px;
	bottom:5px;
	padding:1em;
	background: rgba(0,0,0,0.3);
	border-radius:2px;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	color:#fff;
	z-index:50000;
	}

.top_btn:hover {
	background: rgba(0,0,0,0.5);
	text-decoration:none;
	color:#fff;
	}

.top_btn:before {
	content: "\f062";
    font-family: FontAwesome;
	}


 /*
*	+++++++++++++++++++++++
*	----- GALERIE  -----
*	+++++++++++++++++++++++
*/
.thumbnail {
	margin: 0 auto;
	max-height: 150px !important;
	max-width:200px !important ;
	border:none;
	margin-top:10px;

	display: block;
	padding: 5px;
	background-color: #7194B3;
	border-radius: 0px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}

.thumbnail_box {
	margin-bottom:15px;
	height:200px;
}
/*
*	+++++++++++++++++++++++
*	----- TABLE  -----
*	+++++++++++++++++++++++
*/
.tbl {
	width:100%;
}

td {
	padding: 5px;
	vertical-align: top;
	}

 /*
*	+++++++++++++++++++++++
*	----- LISTS  -----
*	+++++++++++++++++++++++
*/

.list {
	padding:15px 0;
}

.list li {
	list-style: none;
}

.list li:before {
	content:"---";
	padding-right:5px;
}
